/* Sisi Sidebar Utama (Biru Gelap Pekat sesuai gambar) */
.sidebar {
    -fx-background-color: #1a1c4b; 
    -fx-padding: 30px 20px 30px 20px;
}

/* Wadah Grup Logo */
.logo-container {
    -fx-padding: 0 0 20px 0;
}

/* Tulisan "Logo" Putih */
.logo-text {
    -fx-text-fill: #ffffff;
    -fx-font-size: 32px;
    -fx-font-family: "System";
    -fx-font-weight: bold;
}

.logo-icon-box {
    /* Tambahkan nama folder sebelum nama file */
    -fx-background-image: url("images/SIMAMAT.png"); 
    
    -fx-background-size: contain;           
    -fx-background-repeat: no-repeat;       
    -fx-background-position: center;        
    
    -fx-pref-width: 130px;   
    -fx-pref-height: 130px;  
    -fx-max-width: 130px;
    
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-rotate: 0;          
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}

/* Wadah Pembungkus Tombol */
.menu-box {
    -fx-vgrow: ALWAYS;
    -fx-spacing: 25px; /* Ubah dari 15px ke 25px atau 30px agar lebih renggang */
}

/* Desain Tombol Kapsul seperti di Gambar */
.sidebar-button {
    -fx-background-color: #132b99; /* Warna biru tombol */
    -fx-text-fill: #ffffff;        /* Teks putih bersih */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;         /* Teks rata tengah */
    -fx-pref-width: 180px;         /* Lebar tombol dibuat proporsional */
    -fx-pref-height: 45px;         /* Tinggi tombol agar tebal */
    -fx-background-radius: 12px;   /* Membuat sudut melengkung halus */
    -fx-cursor: hand;
}

/* Efek saat Tombol Disorot Mouse (Hover) */
.sidebar-button:hover {
    -fx-background-color: #1a3dc2; /* Biru sedikit lebih terang menyala */
}

/* Efek highlight untuk tombol menu sidebar yang sedang aktif */
.sidebar-button-active {
    -fx-background-color: #ffffff !important; /* Latar belakang jadi putih bersih */
    -fx-text-fill: #1e3a8a !important;        /* Teks tombol berubah jadi biru tua */
    -fx-font-weight: bold;                    /* Teks dibuat tebal */
    -fx-background-radius: 8px;
}

/* Efek saat Tombol Sedang Aktif Diklik */
.sidebar-button:focused {
    -fx-border-color: #ffffff;     /* Garis tepi putih penanda fokus */
    -fx-border-width: 1.5px;
    -fx-border-radius: 12px;
}

/* Area Konten Kanan */
.content-area {
    -fx-background-color: #3b42f4; /* Set ke biru agar sela-sela terkunci warna biru */
    -fx-padding: 0px;              /* Membuang bantalan kosong putih induk */
}

.welcome-text {
    -fx-font-size: 18px;
    -fx-text-fill: #7f8c8d;
}